/* Estilos PORTAL APPUCCE */

/* Imagen de la cabecera del inicio*/


.txtCabecera{
    color: #ffffff;
    font-size: 26px;
    padding: 0;
}

.txtCabecera img{
    height: 60px;
    padding-bottom: 5px 0 5px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.x-treelist-item-text{
    margin-left: 41px !important;
}


/* Bloques informativos posición consolidada*/
.infoBlock{
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    padding: 10px 0 10px 0;
}